.bg-btn-gl-001 {
  background: #0FC2C0 !important;
  color: #fff !important;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
  padding: 15px 0px!important; 
}

.bg-btn-gl-001:hover {
  background: #000000 !important; 
}

.featured-bg{
  background: #0FC2C0 !important;
}

.btn-primary {
  color: #FFFFFF !important;
  background-color: #0FC2C0 !important;
  border-color: #0FC2C0 !important; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #000 !important;
  border-color: #000 !important; 
}
.top-header .menu-s, .top-header-reservation .menu-s {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  background: #FFFFFF !important;
}
.wizard-nav {
  width: 120px;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  background: #FFFFFF;
  z-index: 10;
  padding-top: 93px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out; 
}
.top-header .menu-s {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  background: #FFFFFF; 
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #0FC2C0 !important;
  border-color: transparent;
  color: #fff;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #0FC2C0;
  border-color: transparent;
  color: inherit;
}
.wizard-nav .nav-link.active, .wizard-nav .nav-link:hover {
  background: #0FC2C0;
  color: #0FC2C0; 
}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover {
  color: #fff;
  background: #0FC2C0; 
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
  background: #0FC2C0;
  box-shadow: #0FC2C0 0 1px 3px 0 inset;
  color: #fff;
  font-weight: 700; 
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: #0FC2C0; 
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: #0FC2C0;
  box-shadow: #0FC2C0 0 1px 3px 0 inset;
  color: #fff;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #fff !important;
  background: #0FC2C0 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current.xdsoft_disabled:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current.xdsoft_disabled:hover {
  background: #0FC2C0 !important;
  box-shadow: #0FC2C0 0 1px 3px 0 inset !important;
  color: #fff !important;
}
.color-primary {
  color: #0FC2C0;
}

.link-primary {
  color: #0FC2C0; }
  .link-primary:hover {
    color: #000;
}
a:hover {
  text-decoration: none;
  color: #0FC2C0;
}
.top-menu-s span {
    color: #0FC2C0; 
}
.top-menu-s.show .dropdown-toggle {
    background: #0FC2C0;
    color: #fff;
}
.top-menu-s .dropdown-menu {
  background: #0FC2C0;
  border-radius: 0;
  border: 1px #0FC2C0 solid;
  padding: 20px 40px;
  padding-bottom: 40px;
  min-width: 956px;
  margin-top: 0;
  margin-left: 1.3px;
}
.filter .filter-tag {
  position: relative;
  border-radius: 8px;
  background-color: #0FC2C0;
  padding: 13px 24px;
  font-size: 15px;
  margin: 0 10px;
  margin-right: 0;
  color: #fff;
}
.hotel-page-list .hotel-prices {
  background: #0FC2C0;
  padding: 22px 40px;
  color: #fff;
  font-size: 20px; 
}
.hotel-page-list .action-hotel .nav .nav-link:last-child {
  background: #0FC2C0;
}
.img-top .ccs-t .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  color: #0FC2C0;
  border-color: #0FC2C0;
}
.btn-white:hover {
  background: #0FC2C0;
}
.btn-dark:hover {
  background: #0FC2C0;
  border-color: #0FC2C0;
}
.filter-price .dropdown-menu .range-container .ui-state-default,
.filter-price .dropdown-menu .range-container .ui-widget-content .ui-state-default {
  border-radius: 50%;
  background: #0FC2C0; 
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #0FC2C0;
  color: #fff;
}
.editor-cc-content .editor-cc--desc::before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  width: 18px;
  height: 2px;
  background: #0FC2C0;
}
.item-containe-ame .ame-ctn .label-ame {
  background: #0FC2C0;
  color: #757373;
  font-size: 12px;
  padding: 1px 7px;
  border-radius: 4px;
}
.all-amini {
  background: #0FC2C0;
  font-size: 27px;
  text-align: center;
  padding: 30px 15px;
  border-radius: 4px;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}
.facilities-contain .nav-pills .nav-link.active {
  background: #0FC2C0;
  color: #fff;
}
.since {
  text-align: right;
  position: relative;
  z-index: 99;
  color: #0FC2C0;
}
.pr-lst.collection-lst .act-lst a:hover {
  font-family: "SaolDisplay-LightItalic";
  color: #0FC2C0;
}
.accor-body {
  background: #0FC2C0;
  color: #fff;
  padding: 25px;
}
.menu-media .nav-sos:hover {
  color: #0FC2C0;
  border-color: #0FC2C0;
}
.hover-primary:hover {
  color: #0FC2C0;
}
.filter-container-mm .confirm-room {
  color: #0FC2C0;
}
.menu-nav.text-menu:hover {
  border: 1px #0FC2C0 solid;
}
.menu-nav:hover .city-result {
    border: 1px #0FC2C0 solid;
}
.sidebar-scroller .accordion .btn:hover {
  text-decoration: none;
  color: #0FC2C0;
}
.nav-tab-main.nav-pills .nav-link.active,
.nav-tab-main.nav-pills .show > .nav-link {
  color: #0FC2C0;
  background-color: transparent;
  border-bottom: 2px #0FC2C0 solid;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #0FC2C0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #0FC2C0;
}
.accordion-ex .card-header .btn:hover {
  text-decoration: none;
  color: #0FC2C0;
}
.btn-red-link {
  color: #0FC2C0;
}
.btn-add-collection {
  width: 50px;
  height: 50px;
  background: #0FC2C0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: #fff;
  border-radius: 50%;
}
.swipe-item .swipe-round {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px #0FC2C0 solid;
  overflow: hidden;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #0FC2C0;
  background-color: #0FC2C0;
}
.calendar-availability .fc-bgevent {
  background: #0FC2C0;
  opacity: 1;
  color: #fff;
  position: relative;
}
.nav-info .nav-link.active {
  color: #0FC2C0;
  font-family: "SaolDisplay-LightItalic";
}
.remove-collection {
  position: absolute;
  display: inline-block;
  background: #0FC2C0;
  color: #fff;
  top: 0;
  right: 0;
  font-size: 13px;
  padding: 2px 9px;
}
.avail-htl---0029:hover .avl-dsc p {
  color: #0FC2C0;
}
.avail-htl---0029:hover .title-line::before {
  background: #0FC2C0;
}
.nav-link-parrent:hover i {
  color: #0FC2C0;
}
.help {
  position: fixed;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #0FC2C0;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all 0.3s ease;
}
.price-range .ui-widget-header {
  background: #0FC2C0;
}
.price-range .ui-slider-handle {
  border-radius: 50%;
  top: -0.444em;
  border: 1px solid #0FC2C0;
  background: #fff;
}
.link-white:hover {
  color: #0FC2C0;
}
.history-list:hover {
  color: #0FC2C0;
}
.calendar-nav .nav-link.active {
  color: #0FC2C0;
}
.search-suggest .suggest-item:hover {
  border-color: #0FC2C0;
}
.category-select .custom-control-input:checked ~ .custom-control-label {
  border: 1px solid #0FC2C0;
  background: #0FC2C0;
  color: #fff; 
}
.nav-header-menu .nav-item .nav-link.active {
  color: #0FC2C0;
}
.hero-row .hero-meta .nav-pills .nav-link:hover {
  color: #0FC2C0;
}
.btn-use-addr.active {
  background: #0FC2C0;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
.spinner div {
  position: absolute;
  border: 4px solid #0FC2C0;
  opacity: 1;
  border-radius: 50%;
  animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.hotel-meta .hotel-tag {
  display: none;
  margin-right: auto;
  background: #0FC2C0;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 50%;
  font-family: "SaolDisplay-Regular";
  font-size: 16px;
}
.nav-tags .nav-item .nav-link:hover {
  background-color: #0FC2C0;
}
.nav-tags .nav-item .nav-link:hover .taxonomyTags-roundedArrow {
  color: #0FC2C0;
}
.restaurant-reservation {
  background: #0FC2C0;
  padding: 10px;
  border-radius: 10px;
  color: #fff !important;
  font-size: 14px;
}
.date-reserve .xdsoft_datetimepicker .xdsoft_calendar th {
  background: rgba(137, 164, 159, 0.4);
  color: #0FC2C0;
}
.date-reserve .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  margin: 8px;
  border: 1px #0FC2C0 solid;
  border-radius: 10px;
}
.jet-checkbox .img-plane {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  position: relative;
  margin-top: -25px;
  border: 4px #0FC2C0 solid;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.jet-checkbox .custom-control-input:checked ~ .custom-control-label {
  background: #0FC2C0;
}
.scroll-totop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: #0FC2C0;
  color: #fff !important;
  border-radius: 5px;
  z-index: 99;
}
.book-suite a {
  padding: 16px 10px;
  display: inline-block;
  background: #0FC2C0;
  color: #fff;
}
.hotel-meta.full-width.hotel-meta-details .dropdown-bs {
  width: 50%;
  background: #0FC2C0;
}
.select-destination .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  padding: 7px 16px 7px 11px;
  border-radius: 21px;
  margin: 5px 0 5px 6px;
  font-size: 17px;
  border-color: transparent;
  background: #0FC2C0;
  color: #fff;
} 