.bg-btn-gl-001 {
  background: #0FC2C0 !important;
  color: #fff !important;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
  padding: 15px 0px!important; 
}

.bg-btn-gl-001:hover {
  background: #000000 !important; 
}

.featured-bg{
  background: #0FC2C0 !important;
}

.btn-primary {
  color: #FFFFFF !important;
  background-color: #0FC2C0 !important;
  border-color: #0FC2C0 !important; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #000 !important;
  border-color: #000 !important; 
}
.top-header .menu-s, .top-header-reservation .menu-s {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  background: #FFFFFF !important;
}
.wizard-nav {
  width: 120px;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  background: #FFFFFF;
  z-index: 10;
  padding-top: 93px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out; 
}
.top-header .menu-s {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  background: #EFEAE4; 
}