.bg-btn-gl-001 {
  background: #0FC2C0 !important;
  color: #fff !important;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
  padding: 15px 0px!important; 
}

.bg-btn-gl-001:hover {
  background: #000000 !important; 
}

.featured-bg{
  background: #0FC2C0 !important;
}

.btn-primary {
  color: #FFFFFF !important;
  background-color: #0FC2C0 !important;
  border-color: #0FC2C0 !important; 
}